[Unit]
Description=GuGuPrint Bot

[Service]
Type=simple
WorkingDirectory=/opt/GuGuPrint
ExecStart=/opt/GuGuPrint/main.py

[Install]
WantedBy=multi-user.target
